.input-group {
    min-width: 100%;
}

.same-size {
    width: 15ch;
    text-align: left;
}

.img-size {
    max-height: 200px;
    height: auto;
    vertical-align: middle;
}

.vcenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}